extends layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th id
						th name
						th host
						th time
						th type
				tbody
					each item in act
						tr
							td #{item.id}
							td #{item.name}
							td #{item.host}
							td #{item.time}
							td #{item.type}
