extends layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th id
						th name
						th host
						th participants
						th type
						th status
						th beginAt
						th endAt
				tbody
					tr
						td #{id}
						td #{name}
						td #{host}
						td #{participants}
						td #{type}
						td #{status}
						td #{begin}
						td #{end}
