extends layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/activity/postEdit")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") Name
					.col-sm-10
						input#inputTitle.form-control(type="text",name="name",value="#{name}")
				.form-group
					label.col-sm-2.control-label(for="inpuId") ID
					.col-sm-10
						input#inputTitle.form-control(type="text",name="id",value="#{id}")
				.form-group
					label.col-sm-2.control-label(for="inputTime") host by
					.col-sm-10
						input#inputTitle.form-control(type="text",name="host",value="#{host}")
				.form-group
					label.col-sm-2.control-label(for="inputType") Type
					.col-sm-10
						input#inputTitle.form-control(type="text",name="type",value="#{type}")
				.form-group
					label.col-sm-2.control-label(for="inputType") begin from
					.col-sm-10
						input#inputTitle.form-control(type="text",name="begin",value="#{begin}")
				.form-group
					label.col-sm-2.control-label(for="inputType") end by
					.col-sm-10
						input#inputTitle.form-control(type="text",name="end",value="#{end}")
				.form-group
					label.col-sm-2.control-label(for="inputType") kick
					.col-sm-10
						input#inputTitle.form-control(type="text",name="kick")
				.form-group
					label.col-sm-2.control-label(for="inputType") INVITE
					.col-sm-10
						input#inputTitle.form-control(type="text",name="invite")

				button.btn.btn-primary(type="submit") submit
	
				button.btn.btn-danger(type="button") cancel

